// ======================================
// Bootstrap Imports
// ======================================
@import "../src/bootstrap4/scss/_functions";
@import "./_variables";
@import "./_media";
@import "../src/bootstrap4/scss/_variables";
@import "../src/bootstrap4/scss/_mixins";
@import "../src/bootstrap4/scss/_root";
@import "../src/bootstrap4/scss/_reboot";
@import "../src/bootstrap4/scss/_type";
@import "../src/bootstrap4/scss/_images";
@import "../src/bootstrap4/scss/_code";
@import "../src/bootstrap4/scss/_grid";
@import "../src/bootstrap4/scss/_tables";
@import "../src/bootstrap4/scss/_forms";
@import "../src/bootstrap4/scss/_buttons";
@import "../src/bootstrap4/scss/_transitions";
@import "../src/bootstrap4/scss/_dropdown";
@import "../src/bootstrap4/scss/_button-group";
@import "../src/bootstrap4/scss/_input-group";
@import "../src/bootstrap4/scss/_custom-forms";
@import "../src/bootstrap4/scss/_nav";
@import "../src/bootstrap4/scss/_navbar";
@import "../src/bootstrap4/scss/_card";
@import "../src/bootstrap4/scss/_breadcrumb";
@import "../src/bootstrap4/scss/_pagination";
@import "../src/bootstrap4/scss/_badge";
@import "../src/bootstrap4/scss/_jumbotron";
@import "../src/bootstrap4/scss/_alert";
@import "../src/bootstrap4/scss/_progress";
@import "../src/bootstrap4/scss/_media";
@import "../src/bootstrap4/scss/_list-group";
@import "../src/bootstrap4/scss/_close";
@import "../src/bootstrap4/scss/_modal";
@import "../src/bootstrap4/scss/_tooltip";
@import "../src/bootstrap4/scss/_popover";
@import "../src/bootstrap4/scss/_carousel";
@import "../src/bootstrap4/scss/_utilities";
@import "../src/bootstrap4/scss/_print";

// Pushy Css
@import "../src/pushy/scss/pushy";

// Font Awesome Imports
@import "../src/fontawesome/scss/fontawesome.scss";
// ======================================
// Additional Styles
// ======================================

// logo
.my-logo {
  font-size: 1rem;

  @include breakpoint(mobile){
    font-size: .8rem;
  }
}

// menu desktop
.my-menu {

@include media-breakpoint-down(md) {
    display: none;
  }
}

// menu mobile
.my-menu-mobile {
  font-size: 2rem;

  @include media-breakpoint-up(lg) {
      display: none;
    }
  }

// carousel
.services-carousel {
  width:100%;
  max-height: 40rem !important;
  position: relative;
}

// fixed boxes on carousel
.carousel-boxes {
  .my-box-1 {
    margin: 0 0 1rem 0;
    font-size: .9rem;

    @include media-breakpoint-up(sm) {
      position: absolute;
      right: 7%;
      z-index: 100;
      height: 12rem;
      width: 15rem;
      margin-top: 3rem;
    }

    @include media-breakpoint-down(md) {
      position: relative;
      margin-top: 0;
      right: 0;
      height: 13rem;
    }
  }

  .my-box-2 {
    margin: 0 0 1rem 0;
    font-size: .9rem;

    @include media-breakpoint-up(sm) {
      position: absolute;
      top:18rem;
      right: 7%;
      z-index:100;
      height: 12rem;
      width: 15rem;
      margin-top: 10rem;
    }

    @include media-breakpoint-down(md) {
      position: relative;
      margin-top: 0;
      right: 0;
      top: 0;
      height: 13rem;
    }
  }
}

// fixed boxes on blog page
.blog-boxes {
  .my-box-1 {
    margin: 0 0 1rem 0;
    font-size: .9rem;

    @include media-breakpoint-up(sm) {
      position: absolute;
      right: 3%;
      z-index: 100;
      height: 14rem;
      width: 17rem;
      margin-top: 6rem;
    }

    @include media-breakpoint-down(md) {
      position: relative;
      margin-top: 0;
      right: 0;
      height: 13rem;
    }
  }

  .my-box-2 {
    margin: 0 0 1rem 0;
    font-size: .9rem;

    @include media-breakpoint-up(sm) {
      position: absolute;
      top:18rem;
      right: 3%;
      z-index:100;
      height: 14rem;
      width: 17rem;
      margin-top: 23rem;
    }

    @include media-breakpoint-down(md) {
      position: relative;
      margin-top: 0;
      right: 0;
      top: 0;
      height: 13rem;
    }
  }
}

.my-services {

  a {
    cursor: pointer;
  }
}

hr {
  border-color: #fff;
  border-width: .1rem;
}

.footer-link {

  a {
    padding: 0 1rem 0 1rem;
  }

  @include media-breakpoint-down(md) {
    padding: 0;
    text-align: center!important;
  }
}