// ======================================
// Bootstrap
// ======================================

@import "../src/bootstrap4/scss/_functions";
@import "./_variables";
@import "../src/bootstrap4/scss/_variables";
@import "../src/bootstrap4/scss/_mixins";
@import "../src/bootstrap4/scss/_root";
@import "../src/bootstrap4/scss/_reboot";
@import "../src/bootstrap4/scss/_type";
@import "../src/bootstrap4/scss/_images";
// @import "../src/bootstrap4/scss/_code";
@import "../src/bootstrap4/scss/_grid";
// @import "../src/bootstrap4/scss/_tables";
// @import "../src/bootstrap4/scss/_forms";
@import "../src/bootstrap4/scss/_buttons";
@import "../src/bootstrap4/scss/_transitions";
// @import "../src/bootstrap4/scss/_dropdown";
// @import "../src/bootstrap4/scss/_button-group";
// @import "../src/bootstrap4/scss/_input-group";
// @import "../src/bootstrap4/scss/_custom-forms";
@import "../src/bootstrap4/scss/_nav";
@import "../src/bootstrap4/scss/_navbar";
// @import "../src/bootstrap4/scss/_card";
// @import "../src/bootstrap4/scss/_breadcrumb";
@import "../src/bootstrap4/scss/_pagination";
// @import "../src/bootstrap4/scss/_badge";
// @import "../src/bootstrap4/scss/_jumbotron";
// @import "../src/bootstrap4/scss/_alert";
// @import "../src/bootstrap4/scss/_progress";
@import "../src/bootstrap4/scss/_media";
// @import "../src/bootstrap4/scss/_list-group";
@import "../src/bootstrap4/scss/_close";
// @import "../src/bootstrap4/scss/_modal";
// @import "../src/bootstrap4/scss/_tooltip";
// @import "../src/bootstrap4/scss/_popover";
@import "../src/bootstrap4/scss/_carousel";
@import "../src/bootstrap4/scss/_utilities";
@import "../src/bootstrap4/scss/_print";

// ======================================
// 3RD Party
// ======================================

@import "../src/pushy/scss/pushy";

// ======================================
// Universal
// ======================================

.hr-white-15 {
  border-color: rgba(white, $alpha: 0.15);
}

.border-white-15 {
  border-color: rgba(white, $alpha: 0.15) !important;
}

// ======================================
// App Header
// ======================================

#app-pre-header {
  .fas {
    font-size: 1.8rem;
    color: $secondary;
  }
}

.icon-holder {
  float: left;
  height: 50px;
  padding-right: 2rem;
}

.header-contact-us-wrapper {
  width: 100%;

  @include media-breakpoint-up(lg) {
    max-width: 800px;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;

    .icon-holder {
      float: none;
      display: block;
      height: auto;
      margin-bottom: map-get($spacers, 3);
      padding-right: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

// ======================================
// Social Media Icons
// ======================================

.social-media-icons a {
  height: 30px;
  width: 35px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  color: white;

  &:hover {
    color: rgba(white, $alpha: 0.9);
  }
}

// ======================================
// Sections
// ======================================

.section-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: map-get($spacers, 5);
}

// ======================================
// Pushy
// ======================================

.pushy{
  background-color: white;

  a{
    color: $dark;

    &:hover {
      color: black;
    }
  }

}

// ======================================
// Home Carousel
// ======================================

.information-box {
  color: white;
  background-color: $secondary;
  padding: map-get($spacers, 5) map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    position: absolute;
    width: 320px;
    z-index: 99;
    right: 10%;
    padding: map-get($spacers, 4) map-get($spacers, 3);

    &.information-box-top {
      top: 40px;
    }

    &.information-box-bottom {
      top: 270px;
    }
  }

  @include media-breakpoint-down(md) {
    min-height: 250px;
  }
}

// ======================================
// Additional Styles
// ======================================

// logo
.my-logo {
  font-size: 1rem;

  @include media-breakpoint-down(sm) {
    font-size: .8rem;
  }
}

// menu desktop
.my-menu {

  @include media-breakpoint-down(md) {
    display: none;
  }
}

// menu mobile
.my-menu-mobile {
  font-size: 2rem;

  @include media-breakpoint-up(lg) {
      display: none;
    }
  }

// carousel
.services-carousel {
  width:100%;
  max-height: 40rem !important;
  position: relative;
}

// ======================================
// Services Section
// ======================================

.my-services {
  a {
    cursor: pointer;
  }
}
